body{
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.gap{
    display: flex;
margin: 0 auto;
    width: 70%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.644);
    margin-bottom: 30px;
}
.success{
padding: 5px;    
}
.first-row{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.second-row{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}


#first-h1{
    text-align: center;
}
.first-mission{
    border: 1px solid rgb(61, 61, 61);
    padding: 10px;
    border-radius: 5px;
    width: 50%;
}
#first-h2{
    font-size: 50px;
    margin-bottom: 0px;
}
#first-p{
    font-size: 20px;
    font-weight: lighter;

}
.first-btn{
        padding: 10px;
    text-align: end;
}
#first-btn{
    padding: 10px 20px;
    border: none;
    cursor: pointer;

}


/*second*/


.second-mission{
    border: 1px solid rgb(61, 61, 61);
    padding: 10px;
    border-radius: 5px;
    width: 50%;
}
#second-h2{
    font-size: 50px;
    margin-bottom: 0px;
}
#second-p{
    font-size: 20px;
    font-weight: lighter;

}
.second-btn{
    padding: 10px;
    text-align: end;
}
#second-btn{
    padding: 10px 20px;
    border: none;
    cursor: pointer;

}



/*third*/


.third-mission{
    border: 1px solid rgb(61, 61, 61);
    padding: 10px;
    border-radius: 5px;
    width: 50%;
}
#third-h2{
    font-size: 50px;
    margin-bottom: 0px;
}
#third-p{
    font-size: 20px;
    font-weight: lighter;

}
.third-btn{
    padding: 10px;
    text-align: end;
    
}
#third-btn{
    padding: 10px 20px;
    border: none;
    cursor: pointer;

}




/*fourth*/


.fourth-mission{
    border: 1px solid rgb(61, 61, 61);
    padding: 10px;
    border-radius: 5px;
    width: 50%;
}
#fourth-h2{
    font-size: 50px;
    margin-bottom: 0px;
}
#fourth-p{
    font-size: 20px;
    font-weight: lighter;

}
.fourth-btn{
        padding: 10px;

    text-align: end;
}
#fourth-btn{
    padding: 10px 20px;
    border: none;
    cursor: pointer;

}