body{
    background: url('images/rocket-background.jpg') no-repeat center center fixed;
    
  background-size: cover;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#first-h1{
    text-align: center;
}
h2{
     font-size: 50px;
    margin-bottom: 0px;
    height: 150px;
}
#first-h2{
    font-size: 70px;
    font-weight: 100;
    margin-top: 100px;
    margin-bottom: 20px;
}
#p-1{
    margin-top: 0px;
    font-size: 30px;
    font-weight: 10px;
}

#first-btn{
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    margin-bottom: 80px;
}

.gap{
    display: flex;
margin: 0 auto;
    width: 70%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.644);
    margin-bottom: 30px;
}
.body{
    padding: 10px;
}
.first-part{
    display: flex;
    justify-content: space-between;
    gap : 10px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.second-part{
     display: flex;
    justify-content: space-between;
    gap : 10px;
        margin-bottom: 10px;

}

.third-part{
     display: flex;
    justify-content: space-between;
    gap : 10px
}
.first-rocket ,.second-rocket , .third-rocket , .fourth-rocket , .fifth-rocket , .sixth-rocket{
  background: rgba(255, 255, 255, 0.1); /* slight white tint */
  border-radius: 15px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); /* for Safari */
  border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
    width: 50%;
}

#second-h1{
    font-size: 30px;
    font-weight: lighter;
    text-align: start;
    margin-top: 50px;
}




.info{
    margin-top: 20px;
}
.info-1{
    display: flex;
    justify-content: space-between;

}

#rocket-p-1 ,#rocket-p-2 ,#rocket-p-3{
margin: 7px;

}
.image{
    display: flex;
    justify-content: space-between;
}
img{
    width: 23%;
    padding: 0px;
    margin: 15px 0px;
    border: 1px solid rgba(255, 255, 255, 0.377);
    border-radius: 5px;
}

#third-p{
    line-height: 1.5;
}