body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url('') no-repeat center center fixed;
  background-size: cover;

}
#search-input{
    padding: 11px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 70%;
    font-size: 14px;
}
.search-bar{
    display: flex;
    align-items: center;
}
#sortSelect{
    padding: 8px;
    margin-left: 20px;
   background-color: rgba(0, 0, 0, 0);
    color: black;
    border: 1px solid black;
}
#search-btn{
    padding: 9px;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: 1px solid black;
    margin-left: 3px;
    cursor: pointer;
}

.list1 , .list2{
    border: 1px solid black;
    padding: 0px 10px;
    width: fit-content;
    height: 55px;
    border-radius: 3px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}
#number{
    font-size: 30px;   

}
#name{
margin-bottom: 0px;
font-size: 17px;
}
#position{
margin-top: 1px;
font-size: 13px;
    padding: 0px;

}
.matches1 p {
    margin-top: 5px;
    margin-bottom: 10px;
}
.matches1{
  display: flex;
justify-content: space-between;
gap: 50px;
   
}
.one{
    text-align: center;
    gap: 20px;
}
.two{
        text-align: center;
        align-items: center;

  }
.team-div{
    margin-top: 50px;
    display: flex;
    justify-content: start;
    gap: 50px;
 

}
.player-list{
   background: rgba(255, 255, 255, 0.1); /* slight white tint */
  border-radius: 15px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); /* for Safari */

    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    gap: 10px;
}
.view-matches{
   background: rgba(255, 255, 255, 0.1); /* slight white tint */
  border-radius: 15px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); /* for Safari */

     border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}
.trophies{
   background: rgba(255, 255, 255, 0.1); /* slight white tint */
  border-radius: 15px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); /* for Safari */

     border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}
#goal-time{
    font-size: 13px;


}
#goal{
    font-size: 30px;
}
#club-name{
    color: black;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}
.trophies{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
 
}
#title-trophies,#number-trophies,#year-trophies{
    font-weight: bold;
}

#trophies-p{
}
.t-head , .t-number , .t-year{
    display: flex;
    flex-direction: column;
}
.t-number{
    align-items: center;
}


.info1{
  display: flex;
  justify-content: space-between;
}
.player-trophies{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.player-info{
  width: 30%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 15px;
  border-radius: 15px;
}

#player-img{
  width: 100px;
  border-radius: 50px;
}