body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url('background-new.jpg') no-repeat center center fixed;
  background-size: cover;

}
#search-input{
    padding: 11px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 70%;
    font-size: 14px;
}
.search-bar{
    display: flex;
    align-items: center;
}
#sortSelect{
    padding: 8px;
    margin-left: 20px;
   background-color: rgba(0, 0, 0, 0);
    color: black;
    border: 1px solid black;
}
#search-btn{
    padding: 9px;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: 1px solid black;
    margin-left: 3px;
    cursor: pointer;
}

.list2{
  color: white;
    border: 1px solid rgb(255, 255, 255);
    padding:5px 10px;
    width: fit-content;
    height: auto;
    border-radius: 3px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}
#number{
    font-size: 30px;   

}
#name{
margin-bottom: 0px;
font-size: 17px;
}
#position{
margin-top: 1px;
font-size: 13px;
    padding: 0px;

}
.matches1 p {
    margin-top: 5px;
    margin-bottom: 10px;
}
.matches1{
  display: flex;
justify-content: space-between;
gap: 50px;
border-bottom: 1px solid rgba(0, 0, 0, 0.493);
   
}
.one{
    text-align: center;
    gap: 20px;
}
.one #club-name{
  color: white;
}
.two{
        text-align: center;
        align-items: center;

  }
  .trophies-new #title-trophies , #number-trophies , #year-trophies{
    color: white;

  }
  .two #club-name{
    color: white;
  }
.team-div{
    margin-top: 50px;
    display: flex;
    justify-content: start;
    gap: 30px;
background: rgba(255, 255, 255, 0.1); /* slight white tint */
  border-radius: 15px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); /* for Safari */
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
    border-radius: 10px;
 height: fit-content;

}

.first-row{
  display: flex;
  width: 100%;
}
.player-list{
    display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 10px;
}
.player-list-h1{
    padding: 10px;
}
.view-matches{
     border-left: 1px solid rgba(0, 0, 0, 0.192);

    padding: 10px;
    padding-left: 30px;
}
.trophies{

     border-left: 1px solid rgba(0, 0, 0, 0.192);

    padding: 10px;
        padding-left: 30px;

}

#goal-time{
    font-size: 13px;


}
#goal{
    font-size: 30px;
}
#club-name{
    color: black;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

.trophies-new{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;

}

#title-trophies,#number-trophies,#year-trophies{
    font-weight: bold;
}


.t-head , .t-number , .t-year{
    display: flex;
    flex-direction: column;
}
.t-number{
    align-items: center;
}


.info1{
  display: flex;
  justify-content: center;
  gap: 50px;
}
.info-name p{
  margin: 7px;
}

#player-name{
  font-size: 25px;
}
#player-age{
  font-size: 14px;
}
#player-nationality{
  font-weight: bold;
}
.player-trophies{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.div-info{
  display: flex;
  flex-direction: column;
}
.container{

  background: rgba(255, 255, 255, 0.1); /* slight white tint */
  border-radius: 15px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); /* for Safari */
  border: 1px solid rgba(255, 255, 255, 0.2);

  margin: 0 auto;
  padding: 15px;
  border-radius: 15px;
}

.player-info-main{
  margin-top: 30px;
}
.player-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#player-img{
  width: 100px;
  border: 1px solid rgba(0, 0, 0, 0.295);
  border-radius: 50px;
  padding: 1px;
}
.club-div-name h4{
  color: white;
  font-weight: 100;
}
.club-div-name p{
  color: white;
}
.recent-match{
  padding: 10px;
  background: rgba(255, 255, 255, 0.1); /* slight white tint */
  border-radius: 15px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); /* for Safari */
  border: 1px solid rgba(255, 255, 255, 0.2);


  margin-left: 50px;
  margin-top: 30px;
}

.image-info{
  display: flex;
  align-items: center;
  gap: 10px;
}
.club-div{
  border-bottom: 1px solid rgba(0, 0, 0, 0.493);
  text-align: center;
}
.club-div-head h1{
  font-size: 25px;
}
