body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    overflow-y: hidden;


}

.main {
    background: url('images/blur-img.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

.header {

    background: rgba(91, 255, 41, 0.1);
    /* slight white tint */
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    /* for Safari */
    border: 1px solid rgba(134, 255, 78, 0.2);


    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

h1 {
    font-size: 20px;
    font-weight: 100;
}

#showFavs {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
}

.h2-form {
    width: 50%;
    margin: 0 auto;
}

#h2-form {
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-left: 15px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: lighter;
}

.input-btn {
    margin-top: 0px;
    display: flex;
    justify-content: center;

}

#moodInput {
    font-size: 20px;
    background: rgba(9, 14, 7, 0.1);
    /* slight white tint */
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    /* for Safari */
    border: 1px solid rgba(9, 14, 7, 0.1);
    color: white;
    width: 40%;
    padding: 10px;
    outline: none;
    border: 1px solid rgb(201, 201, 201);
}

#moodInput::placeholder {
    color: white;
}

#inspireBtn {
width: 47%;
    background: rgba(9, 14, 7, 0.1);
    /* slight white tint */
    border-radius: 15px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    /* for Safari */
    border: 1px solid rgb(255, 255, 255);

    color: white;
    border-radius: 0px;
    padding: 10px;
    cursor: pointer;
}

.result {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

}

.row {
    /*background-color: rgb(94, 255, 107);*/
    width: 46.1%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
    background: rgba(91, 255, 41, 0.1);
    /* slight white tint */
    border-radius: 15px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    /* for Safari */
    border: 1px solid rgba(134, 255, 78, 0.2);
    padding: 10px;

    height:280px;
  overflow: auto; /* adds scrollbars if content overflows */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6),
        0 0 10px rgba(255, 255, 255, 0.05);
    border-radius: 12px;

}



/* Chrome, Edge, Safari styling */
.row::-webkit-scrollbar {
  width: 5px; /* width of scrollbar */
}

.row::-webkit-scrollbar-track {

background: rgba(255, 255, 255, 0.1); /* slight white tint */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); /* for Safari */


  border-radius: 12px;
}

.row::-webkit-scrollbar-thumb {

background: rgba(255, 255, 255, 0.473); /* slight white tint */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); /* for Safari */


  border-radius: 8px;
}

.row::-webkit-scrollbar-thumb:hover {

background: rgba(255, 255, 255, 0.1); /* slight white tint */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px); /* for Safari */



}

#quote {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
}

#quote-author {
    font-weight: bold;
    text-decoration: underline;
}

.btn {
    text-align: start;
}

#save {



    width: fit-content;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}


.modal-content {
background: rgba(219, 219, 219, 0.1);
    /* slight white tint */
    border-radius: 15px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    /* for Safari */
    border: 1px solid rgba(231, 231, 231, 0.2);    margin: 8% auto;
    padding: 10px 20px;
    border-radius: 12px;
    width: 80%;
    max-width: 700px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}



.close

 {
    position: absolute;
    top: 10px;
    right: 16px;
    font-size: 28px;
    font-weight: lighter;
    color: #ffffff;
    cursor: pointer;
}

.close:hover
 {
    color: red;
}


#gallery-h3{
    font-size: 35px;
    color: white;
}
.fav-row{
    padding: 10px;
    font-size: 20px;
    font-weight: 100;
    color: white;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    margin-bottom: 5px;
}

#fav-quotes-author{
    text-decoration: underline;

}

.deleteFav{
padding: 10px 20px;
border-radius: 5px;
background-color: rgb(240, 44, 44);
color: white;
border: none;
}

#no-favorites{
    color: white;
}
/* ===== Tablet (768px and below) ===== */
@media (max-width: 1100px) {
    .row {
        width: 90%;
    }

    #moodInput {
        width: 80%;
    }

    .h2-form {
        width: 100%;

        margin: 20px;
    }
}

/* ===== Mobile (480px and below) ===== */
@media (max-width: 590px) {

    .row {
        width: 90%;
    }

    #moodInput {

        width: 75%;
    }

    .h2-form {
        width: 100%;
        margin: 0px;
    }

    #h2-form {
        font-size: 30px;
    }

    .input-btn {
        padding: 10px;
    }
}