 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   font-family: 'Orbitron', sans-serif;
   background: linear-gradient(145deg, #d8d8d8 0%, #106596 40%, #8c8cf1 70%, #d5d9ff 100%);
   backdrop-filter: blur(100px);
   -webkit-backdrop-filter: blur(10px);
   color: #ffffff;
   padding: 20px;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   padding: 50px;
 }

 h1{

  margin-bottom: 30px;

  }
.search-div{
  display: flex;
}
 #search {
     background-color: #10659698;

   padding: 10px;
   width: 80%;
   outline: none;
   font-size: 1.1rem;
   border: 1px solid rgb(236, 236, 236);
   border-radius: 5px;
   color: white;
 }

 #search::placeholder{
  color: rgba(255, 255, 255, 0.527);
 }

 #search-btn {
   font-size: 1.1rem;

   padding: 10px;
   border: none;
   color: white;
   background-color: #00ffcc00;
   cursor: pointer;
 }
#search-btn:hover{
color: rgb(236, 236, 236);
}
 .btn-div:hover{
color: rgb(236, 236, 236);
 }
 .map {
   width: 88%;
   background-color: #10659644;
   border: 1px solid #106596;
   height: 250px;
   border-radius: 5px;
   margin-top: 10px;
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: center;

 }

 .bus-info {
  width: 88%;
  display: flex;
   padding-top: 10px;
   gap:10px;
 }

 .bus-card {
   background-color: #1065969a;
   border: 1px solid #106596;
   width: 88%;
   padding: 15px;
   margin-bottom: 10px;
   border-left: 4px solid #0a5da0;
   border-radius: 6px;
 }

 .bus-card p {
   margin: 4px 0;
   font-size: 0.95rem;
 }

@media only screen and (max-width: 768px) {

  .map{
    width: 98%;
  }
  .bus-info{
    width: 98%;
  }
   .bus-card{
    width: 100%;
   }
  
}


