body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #042852, #1e1e1f);
  color: #fff;
  height: 100vh;
}
.row{
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
 background: rgba(255, 255, 255, 0.1);
  /* slight white tint */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.div{

  width: 80%;
  margin: 20px;
}
h2 {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  text-align: start;
  font-size: 3vw;
  margin-top: 10px;
  background: linear-gradient(90deg, #ffffff, #7e7d7d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
}

#controls {
  width: 100%;
  max-width: 700px;
  padding: 25px;
  background: rgba(255, 255, 255, 0);

}

#controls label {
  display: block;
  margin-bottom: 18px;
  color: #ccc;
  font-size: 15px;
}

#controls input {
  width: 90%;
  padding: 14px 16px;
  margin-top: 6px;
  background: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: #fff;
  font-size: 15px;
  transition: 0.3s;
}

#controls input:focus {
  background: rgba(255, 255, 255, 0.18);
  box-shadow: 0 0 0 2px #00eaff;
}

.btn {
  text-align: end;
  margin-top: 20px;
}

#searchBtn {
  padding: 14px 10px;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0);
  color: #cfcfcf;
  font-size: 17px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

#searchBtn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 234, 255, 0.5);
}

#status.small {
  margin-top: 18px;
  text-align: center;
  font-size: 15px;
  color: #ffdd57;
  font-weight: 500;
}

/* Festival list */
#list {
  width: 10%;
  max-width: 900px;
  margin: 30px auto;
  display: grid;
  gap: 20px;
}

.festival-card {
  padding: 20px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  transition: 0.3s;
}

.festival-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

.festival-card h3 {
  margin: 0 0 8px 0;
  font-size: 22px;
  color: #00eaff;
}

.festival-card p {
  margin: 5px 0;
  color: #ddd;
}


.map{
  margin: 20px;
  width: 60%;
}
#map {
  width: 100%;
  height: 239px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid white;
}

#h2-map{
 margin-top: 45px;
}