body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

.header {
    height: auto;
    width: 100%;
    background-color: rgb(74, 116, 230);

}

#header-h2 {
    color: white;
    padding: 10px;
    margin: 0px;
    font-size: 30px;
}

.body {
    display: flex;
    width: 100%;
}

.info {
    width: 30%;
    margin: 20px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#disaster-info {
    color: rgb(43, 43, 43);
}

#disaster-result {
    color: rgb(43, 43, 43);
}

#disaster-news {
    color: rgb(43, 43, 43);

}

form {}

#disaster-name,
#affected-country,
#status,
#date-time {
    outline: none;
    padding: 8px;
    border: 1px solid rgb(231, 231, 231);
    width: 100%;
}

#disaster-name {
    width: 100%;
}

.disaster {
    display: flex;
}

.row1 {
    display: flex;

    margin-top: 10px;
}

.row2 {
    display: flex;
}

#date-time {
    margin-top: 10px;
    width: 100%;

}

#btn {
    color: white;
    background-color: rgb(74, 116, 230);
    padding: 10px;
    width: 100%;
    border: none;
    margin-top: 40px;
    border-radius: 5px;
    cursor: pointer;

}

.result {
    width: 20%;
    margin: 20px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.result-row0 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.result-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.result-row2 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    text-align: center;
}

#status-p {
    color: rgb(219, 26, 26);
    padding: 5px;

    font-weight: lighter;
}

#country-name,
#disaster-name-p {
    background-color: rgba(0, 0, 0, 0.726);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

#date,
#quantity {
    font-weight: bold;
}

.news {
    width: 50%;
    margin: 20px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.news-row {
    display: flex;
    justify-content: space-between;

}

#news-p {
    background-color: rgba(0, 0, 0, 0.726);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.footer {
    height: auto;
    width: 100%;
    background-color: rgb(74, 116, 230);
    display: flex;
}