body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    background-color: rgb(27, 27, 27);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}
.heading{
    display: flex;
    height: fit-content;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.row{
    display: flex;
    align-items: center;
    width: 80%;
    margin-top: 20px;
    height: 20px;
}
#search,#country{
padding: 10px;
border: 1px solid rgb(230, 230, 230);
outline: none;
width: 100%;
}

.country-card{
     padding: 25px;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      width: 90%;
      max-width: 600px;
}
.main{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 40%;
    margin: 0 auto;
     box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1),
        0 4px 8px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.3s ease;
}
.part-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.part-2{
    display: flex;
    gap:30px;
    justify-content: center;

}


.part-3{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.currency,.time,.language{
    background-color: rgba(0, 0, 0, 0.884);
    color: white;
    padding: 0px 20px;
    border-radius: 10px
}