body {
  background: url('images/black3.jpg') no-repeat center center fixed;
  background-size: cover;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.959);

  color: white;
  font-size: 15px;
  overflow: hidden;
}

.row {
  display: flex;
  border-radius: 15px;

}

.sidebar-container {
  background: rgba(255, 255, 255, 0.1);
  /* slight white tint */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  /* for Safari */

  height: 535px;
  overflow: auto;
  /* adds scrollbars if content overflows */
  width: 25%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6),
    0 0 10px rgba(255, 255, 255, 0.05);
  border-radius: 12px;

}



/* Chrome, Edge, Safari styling */
.sidebar-container::-webkit-scrollbar {
  width: 5px;
  /* width of scrollbar */
}

.sidebar-container::-webkit-scrollbar-track {

  background: rgba(255, 255, 255, 0.1);
  /* slight white tint */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  /* for Safari */


  border-radius: 12px;
}

.sidebar-container::-webkit-scrollbar-thumb {

  background: rgba(255, 255, 255, 0.473);
  /* slight white tint */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  /* for Safari */


  border-radius: 8px;
}

.sidebar-container::-webkit-scrollbar-thumb:hover {

  background: rgba(255, 255, 255, 0.1);
  /* slight white tint */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  /* for Safari */



}


.sidebar {
  padding: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.336);
}

#artist-profile {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.row1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

#artist-name {
  margin-bottom: 0px;
  font-size: 15px;

}

#art-name {
  margin-top: 5px;
  font-weight: lighter;
  font-size: 15px;

}

.body {

  background: rgba(255, 255, 255, 0.1);
  /* slight white tint */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  /* for Safari */



  height: 517px;
  overflow: auto;
  /* adds scrollbars if content overflows */
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  margin-left: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6),
    0 0 10px rgba(255, 255, 255, 0.05);

}






/* Chrome, Edge, Safari styling */
.body::-webkit-scrollbar {
  width: 5px;
  /* width of scrollbar */

  background: rgba(255, 255, 255, 0.1);
  /* slight white tint */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  /* for Safari */

}

.body::-webkit-scrollbar-track {

  background: rgba(255, 255, 255, 0.1);
  /* slight white tint */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  /* for Safari */
  border-radius: 12px;
}

.body::-webkit-scrollbar-thumb {

  background: rgba(255, 255, 255, 0.473);
  /* slight white tint */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  /* for Safari */
  border-radius: 8px;
}

.body::-webkit-scrollbar-thumb:hover {

  background: rgba(255, 255, 255, 0.1);
  /* slight white tint */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  /* for Safari */
}




.trend-song {
  border-top: 1px solid rgba(255, 255, 255, 0.315);
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));

  justify-content: space-between;
  gap: 0px;
}

.trend1 {
  padding-top: 10px;
}

.trend-song h3,
p {
  width: 200px;
  font-size: 15px;

}

#trend-img {
  width: 230px;
  height: 230px;
  background: url('images/art-img.jpg');
  background-size: contain;
  background-size: cover;
  border-radius: 5px;

}

.artist-row {
  border-top: 1px solid rgba(255, 255, 255, 0.315);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.artist1 {
  padding-top: 10px;

}

.artist1 h3 {
  text-align: center;
}

#artist-img {
  width: 150px;
  height: 150px;
  background: url('images/art-img.jpg');
  background-size: contain;
  background-size: cover;
  border-radius: 100px;

}

#artist-h1,
#trend-h1,
#playlist-h1 {
  padding: 10px;
  margin-bottom: 10px;
}

.search {
  display: flex;
  margin-bottom: 30px;

}

#search {
  background-color: rgba(240, 248, 255, 0);
  padding: 10px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  width: 100%;
}

#search::placeholder {
  color: white;
}

#btn {
  background-color: rgba(240, 248, 255, 0);
  color: white;
  border: none;
  border-bottom: 1px solid white;
  cursor: pointer;
}


.artist-search {
  display: flex;
}

#search-artist {
  background-color: rgba(240, 248, 255, 0);
  padding: 10px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.308);
  outline: none;
  color: white;
  width: 100%;
}

#search-artist::placeholder {
  color: white;
}

#btn-artist {
  background-color: rgba(240, 248, 255, 0);
  color: white;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.308);
  cursor: pointer;
}


/* POPUP PLAYER */
#popup-player {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-content {
  width: 320px;
  background: rgba(255, 255, 255, 0.1);
  /* slight white tint */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  position: relative;
}

.popup-content img {
  width: 200px;
  border-radius: 10px;
  margin-bottom: 15px;
}

#close-popup {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 28px;
  cursor: pointer;
  color: white;
}

.delete-btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  cursor: pointer;
}
#artist-name , #art-name{
font-size: clamp(10px, 1.5vw, 15px);
}

@media (min-width: 481px) and (max-width: 900px) {

   .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   }
   .delete-btn{
    padding-bottom: 10px;
   }
}
