* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-image:  url('stars.png');
background: linear-gradient(145deg, #504ec4 0%, #6b63dc 40%, #8c8cf1 70%, #d5d9ff 100%);
   backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 50px;

}

.container {
background: rgba(255, 255, 255, 0.2); /* semi-transparent white */
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(15px);
padding: 30px;
border-radius: 12px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
width: 100%;
max-width: 100%;

}

h2{
  color: white;
  margin-bottom: 20px;
}

.inputs{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
#airport,#company,#flight-number{
  background-color: #33333300;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0px;
  outline: none;
  color: white;
}

#airport::placeholder, #company::placeholder, #flight-number::placeholder{
font-size: clamp(13px, 2vw, 18px);
  color: rgba(255, 255, 255, 0.349);
}

.dearrive{
  display: flex;
  gap: 10px;
}
.btn{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
}
#button{
  background-color: #504ec400;
  color: white;
  text-align: end;
  width: fit-content;

}
i{
  color: white;
}
.label{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
label{
  color: white;
  padding: 5px;
  width: fit-content;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.322);
  font-weight: 100;
}
#departure-time,#arrival-time{
  background-color: #33333333;
  color: rgba(255, 255, 255, 0.89);
  outline: none;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.result-box {
  display: grid;
  grid-template-columns: 1fr;   
    gap: 20px;
width: 100%;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.6;
}



@media (min-width: 900px) {
  #result {
    grid-template-columns: repeat(2, 1fr); 
  }
}
.main-result-div{
  border: 1px solid rgb(255, 255, 255);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.first-div{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 10px;
  
}
strong{
  padding: 5px;
  border-radius: 10px;
  color: rgb(22, 22, 22);
  line-height: 2;

}
.first-s{

}
.second-s{

}
.third-s{
  padding-top: 10px;
  border-top: 1px solid white;
text-align: center;
}

.flight-info{
  color: rgb(255, 255, 255);
}
.flight-status{
  display: flex;
  align-items: center;
  text-align: center;
}
.loading-box{
  color: white;
}



/* Tablet */
@media (max-width: 600px) {
 .dearrive{
  display: flex;
  flex-direction: column;
 }
}
